<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/splash_icon1_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splash_icon1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MushroomApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MushroomApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.MushroomApp"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name="BaseActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".EditProfileActivity"/>
        <activity android:name=".TripsListActivity"/>
        <activity android:name=".AddEditTripActivity"/>
        <activity android:name=".TripDetailsActivity"/>
        <activity android:name=".MushroomFindingsActivity"/>
        <activity android:name=".ClassificationHistoryActivity"/>
        <activity android:name=".MushroomDetailsActivity"/>
    </application>

</manifest>